h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 3rem;
}

.wrapper {
  margin: 5% 8% 0;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px #9f9f9f;
}

body {
  background-image: url('./img/bg-w.gif');
}

a,
.footer,
.custom-file-label {
  color: #9c9c9c;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
  color: #1abc9c;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
}

.btn {
  background-color: #1abc9c;
  color: white;
  font-family: 'Lobster', cursive;
}

.nav-pills .nav-link.active {
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
}

.picklists {
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: 1em;
  padding: 2em;
}

.sampleFile {
  color: gray;
  font-weight: bold;
}

.copy-right {
  margin: 0 1em;
  color: gray;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
}

.d-inline-block {
  background-color: white;
}

.footer-text {
  font-size: 14px;
}

.footer > a {
  color: gray;
}

.btn-file input[type='file'] {
  color: red;
}
